.header {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerBtn {
  display: flex;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profilEditBtn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -15px;
  right: -15px;
  --border-radius: 50%;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.details {
  margin: 0 auto;
  margin: 0.5em;

  padding-bottom: 6em;
}

.details ion-item {
  padding: 0.5em 0;
}

.skills {
  height: 100%;
}

.socials {
  display: flex;

  gap: 10px;
}

.editContent {
  padding-bottom: 2em;
}

.editContentInput {
  margin-bottom: 3em;
}

.editContentInput h2 {
  margin-bottom: 1em;

  font-size: 1.3rem;
  font-weight: 600;
}

.editCardImg {
  width: 100px;
  height: 100px;

  position: relative;

  border: 3px dashed rgb(107, 107, 107);
  border-radius: 10px;

  background-color: rgb(202, 202, 202);
}

.editCardBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 20%);
}

.editBtnIcon {
  margin: 0;

  width: 40px;
  height: 40px;

  --border-radius: 50%;
}
