.content {
  margin-top: 1em;

  display: flex;
  flex-direction: column;
}

.actions {
  margin: 0.4em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.actions > ion-button {
  height: auto;
  --border-radius: 50%;
}

.smallBtn {
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-end: 10px;
}

.dragging {
  outline: 2px solid blue;
  border-radius: 10px;
}

.swapYes {
  outline: 5px solid green;
  border-radius: 10px;
}

.swapNo {
  outline: 5px solid red;
  border-radius: 10px;
}
