.content {
  margin-top: 1em;

  display: flex;
  flex-direction: column;
}

.actions {
  margin: 0.4em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.actions > ion-button {
  height: auto;
  --border-radius: 50%;
}

.smallBtn {
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-end: 10px;
}

.animate {
  border: 1px solid red;
}

.swipesWrapper {
  height: 580px;
  position: relative;
}

.swipe {
  position: absolute;
}
