.content {
    display: grid;
    gap: 1em;

    padding-bottom: 6em;
}

.card {
    display: grid;
    gap: .5em; 
    padding: .5em;
}

.card a {
    padding: .3em 0;

    text-decoration: none;
}

.btn {
    display: grid;
    gap: .8em;
}
